body{
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    a:link{color: blue}
    a:visited{color: #000000}
    a:active{color: #9f1296}
    a:hover{color: #519f2c}
}